body{
    position:relative;
    padding-bottom:70px;
    background:#fafafa;
}
a{
    color:#0366d6;
}
.contain{
    opacity:0;
    position:relative;
    padding:10px 0;
    background:#fff;
    z-index:2;
    border-radius:10px;
    box-shadow: 0 0 15px #aaa;
    -webkit-transition:.8s cubic-bezier(.18,.76,.64,1.53);
    -o-transition:.8s cubic-bezier(.18,.76,.64,1.53);
    transition:.8s cubic-bezier(.18,.76,.64,1.53);
}
.contain-show{
    opacity:1;
    -webkit-transform:translateY(50px);
    -ms-transform:translateY(50px);
    -o-transform:translateY(50px);
    transform:translateY(50px);
}
@media (min-width: 1024px){
    .contain{
        width:850px;
        margin:0 auto; 
    }
}
@media (max-width: 768px){
    .contain{
        width:100%;
    }
}
@media (min-width: 1200px){
    .contain{
        width:1200px;
        margin:0 auto; 
    }
}
@media (max-width: 768px){
    .contain{
        width:100%;
    }
}
#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.m-banner{
    height:100px;
    text-align:center;
    background:#ffc000;
}
.m-banner img{
    width:200px;
    margin-top:20px;
    position:relative;
}
h2{
    margin:40px 0;
    font-size:26px;
}
h2,h3{
    text-align:center;
}
h3{
    display:flex;
    padding:0 20px;
    margin:15px 0;
    font-size:18px;
    margin:25px 0;
    align-items:center;
}
h3 span{
    margin:0 20px;
}
h3:before,h3:after{
    content:'';
    flex:1;
    height:1px;
    background:#eee;
}
.item-box{
    text-align:center;
    margin:10px 0;
}
.add{
    width: 100%;
    height: 100%;
    text-align: center;
    border: 1px solid #ccc;
}
.img-contain{
    position: relative;
    display: inline-block;
    margin: 10px 0px;
    width: 80px;
    height: 80px;
    color: #999;
}
.upload{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.add span{
    display: inline-block;
    margin-top:30px;
}
.img-contain img{
    display: none;
    width: 100%;
    height: 80px;
    object-fit: cover;
}
.desc{
    margin:0 auto;
    max-width:600px;
    line-height:1.7;
    padding:0 20px;
}
.item-box>img{
    margin:20px;
    width:50%;
}

/* ui */
.ui-btn{
    height: 28px;
    line-height: 28px;
    margin: 5px 5px 0;
    padding: 0 15px;
    border: 1px solid #dedede;
    background:#fff;
}
.ui-btn:hover{
    color:#fff;
    border:1px solid #1E9FFF;
    background:#1E9FFF;
}
.ui-input{
    padding: 6px 12px;
    border: 1px solid #ccc;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 1.4;
    border-radius: 4px;
}
.l-form-error{
    border:1px solid #ff6868;
}
.ui-form-message{
    opacity:0;
    -webkit-transform:translateX(20px);
    -ms-transform:translateX(20px);
    -o-transform:translateX(20px);
    transform:translateX(20px);
    margin-left:10px;
    display:inline-block;
    color:#ff6868;
    transition:all .3s;
}
.l-form-error+.ui-form-message{
    opacity:1;
    -webkit-transform:translateX(0);
    -ms-transform:translateX(0);
    -o-transform:translateX(0);
    transform:translateX(0);
}